/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left
	{
		display: inline;
		width: auto;
	}
	
		.image-left img
		{
			display: inline;
			width: auto;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		height: 10em;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav ul
		{
		}
		
		#nav li
		{
			float: left;
		}
		
/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

	#slider
	{
	}
	
		#slider .indicator
		{
			display: none;
		}