/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body 
	{
		font-size: 9.5pt;
	}

	.button-big
	{
		font-size: 1.65em;
	}

	ul.style1
	{
	}
	
		ul.style1 li
		{
			padding: 0.75em 0em 0.75em 0em;
		}
		
		ul.style1 a
		{
			height: 2.40em;
			line-height: 2.40em;
			font-size: 0.90em;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		height: 10em;
		padding-top: 2.5em;
	}
	
	#banner-wrapper
	{
		padding: 3.5em 0 3.5em 0;
	}
	
	#main-wrapper
	{
	}
	
	#footer-wrapper
	{
		padding: 3em 0em 5em 0em;
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

		#banner h2
		{
			font-size: 2.30em;
		}
		
		#banner .subtitle
		{
			font-size: 1.75em;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}
	
		#content .subtitle
		{
		}
	
		#content .image-full
		{
			float: left;
			width: 40%;
			margin: 0 2.50em 0 0em;
		}

/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/
	
	#slider
	{
		width: 700px;
	}
	
	#slider .viewer
	{
		width: 658px;
		height: 317px;
		left: 0;
		top: 22px;
	}

	#slider .shine {
		background: url('images/monitor-shine.png') no-repeat right top;
		background-size: auto 100%;
	}

	#slider .indicator
	{
		bottom: 240px;
	}